.button1 {
  position: relative;
  left: 79%;
  top: -42px;
}
span.a {
  float:  right;
  position: relative;
  left:  -5%;
  top: -50px;
  margin-right: 15px;
}
span.b {
  float:  left;
  position: relative;
  left:  76%;
  top: 3%;
  margin-right: 15px;
}
span.c {
  float:  left;
  position: absolute;
  left:  73%;
  top: 3%;
  margin-right: 15px;
}
span.d {
  float:  left;
  position: absolute;
  left:  76%;
  top: 3%;
  margin-right: 15px;
}
span.e {
  float:  left;
  position: absolute;
  left:  76%;
  top: 3%;
  margin-right: 15px;
}
.delete-checkbox {
    float: left;
    margin: 0px 0px;
    /*width: 5%;
    height: 5%;
    margin-left: 10px;
    margin-top: 10px;*/
}
label.a {
    font-family:"Open Sans", san-serif, Arial;
    height: 2px;
    padding-bottom: 0px;
    margin-left: 12%;
    margin-top: 1.5%;
}
p.a {
    font-family:"Open Sans", san-serif, Arial;
    height: 2px;
    padding-bottom: 0px;
    margin-left: 0%;
    margin-top: 1%;
}
p.b {
  font-family:"Open Sans", san-serif, Arial;
  text-align: center;
  line-height: 1;

}
p.c {
  font-family:"Open Sans", san-serif, Arial;
  text-align: center;
  margin-top: -4%;
  line-height: 1;
}
p.d {
    font-family:"Open Sans", san-serif, Arial;
    height: 2px;
    padding-bottom: 0px;
    margin-left: 12%;
    margin-top: 1.5%;
}
hr.a {
  margin: 3% 0%;
}
hr.c {
  margin-top: 52.5%;
}
div.a {
  width: 250px;
  height: 185px;
  /*padding: 10px;*/
  border: 2px solid black;
  margin: 0;  
  margin-left: 1%;
  margin-right: 3%;
  margin-top: 2%;
}
.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}
